@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

header {
  z-index: 999;
  position: fixed;
  background: transparent;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease;
}

header.sticky {
  background: #3a6cf4;
  padding: 10px 200px;
}

header .brand {
  color: #fff;
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header .navigation {
  position: relative;
}

header .navigation a {
  color: #fff;
  font-size: 1.5em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
}

header .navigation a:hover {
  color: #3a6cf4;
}

header.sticky .navigation a:hover {
  color: #000;
}

.brand {
  font-size: 2.5rem;
  color: #ededed;
  font-weight: 600;
  text-decoration: none;
}

.navigation a {
  font-size: 1.7rem;
  color: #ededed;
  font-weight: 500;
  margin-left: 3.5rem;
  transition: .3s;
  text-decoration: none;
}

.navigation a:hover,
.navigation a.active {
  color: #00abf0;
}

.menu-btn {
  font-size: 3.6rem;
  color: #ededed;
  cursor: pointer;
  display: none;
}

section {
  padding: 100px 200px;
}

.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(images/desktop-wallpaper-portfolio.jpg)no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #1F252E;
}

.main .content {
  max-width: 800px;
}

.main .content h2 {
  color: #fff;
  font-size: 2em;
  font-weight: 500;
}

.main .content h2 span {
  font-size: 2.8em;
  font-weight: 600;
}

.animated-text {
  position: relative;
  height: 70px;
  overflow: hidden;
}

.animated-text h3 {
  color: #4e9eff;
  font-size: 3em;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 1px;
}

.animated-text h3:nth-child(1) {
  animation: text-move 10s infinite;
}

@keyframes text-move {
  0% {
    margin-top: 0;
  }

  25% {
    margin-top: -70px;
  }

  50% {
    margin-top: -140px;
  }

  75% {
    margin-top: -70px;
  }

  100% {
    margin-top: 0;
  }
}

.beautiful-button {
  position: relative;
  display: inline-block;
  background: linear-gradient(to bottom, #1b1c3f, #4a4e91);
  /* Gradient background */
  color: white;
  /* White text color */
  font-family: "Segoe UI", sans-serif;
  /* Stylish and legible font */
  font-weight: bold;
  font-size: 18px;
  /* Large font size */
  border: none;
  /* No border */
  border-radius: 30px;
  /* Rounded corners */
  padding: 14px 28px;
  /* Large padding */
  cursor: pointer;
  /* Cursor on hover */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  /* Subtle shadow */
  animation: button-shimmer 2s infinite;
  transition: all 0.3s ease-in-out;
  /* Smooth transition */
  margin-top: 82px;
  text-decoration: none;
}

/* Hover animation */
.beautiful-button:hover {
  background: linear-gradient(to bottom, #2c2f63, #5b67b7);
  animation: button-particles 1s ease-in-out infinite;
  transform: translateY(-2px);
}

/* Click animation */
.beautiful-button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

/* Shimmer animation */
@keyframes button-shimmer {
  0% {
    background-position: left top;
  }

  100% {
    background-position: right bottom;
  }
}

/* Particle animation */
@keyframes button-particles {
  0% {
    background-position: left top;
  }

  100% {
    background-position: right bottom;
  }
}

.media-icons {
  position: absolute;
  bottom: 7rem;
  width: 230px;
  display: flex;
  justify-content: space-between;
}

.media-icons a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: .2rem solid #00abf0;
  border-radius: 50%;
  color: #00abf0;
  z-index: 1;
  overflow: hidden;
  transition: .5s ease;
  text-decoration: none;
}

.media-icons a:hover {
  color: #1F252E;
  ;
  box-shadow: 0 0 1rem #00abf0;
}

.media-icons a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #00abf0;
  z-index: -1;
  transition: .5s ease;
}

.media-icons a:hover::before {
  width: 100%;
}


body {
  min-height: 110vh;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-title {
  position: relative;
  color: #3a6cf4;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 60px;
  text-decoration: underline;
}



.about .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.about .content .col-left {
  position: relative;
  width: 45%;
}

.about .content .col-right {
  position: relative;
  width: 60%;
  margin-right: 60px;
}

.about .content .col-left .img-card {
  position: relative;
  width: 500px;
  height: 500px;
}

.about .content .col-left .img-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.about .content .col-right .content-title {
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 20px;
}

.about .content .col-right .paragraph-text {
  font-size: 1em;
}

.skills {
  background-color: #1F252E;
}

.skills .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-top: 20px;
}

.skills .content .col-left {
  position: relative;
  width: 46%;
}

.skills .content .col-left .content-title {
  margin-bottom: 20px;
}

.skills .content .col-right {
  position: relative;
  width: 46%;
}

.skills .content .col-right .bar {
  margin-bottom: 15px;
  padding: 10px;
}

.skills .content .col-right .bar .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.skills .content .col-right .bar .info span {
  font-size: 18px;
  font-weight: 500;
}

.skills .content .col-right .bar .line {
  position: relative;
  width: 100%;
  height: 15px;
  background: #ccc;
  border-radius: 2px;
}

.skills .content .col-right .bar .line:before {
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 2px;
}

.skills .content .col-right .bar .html:before {
  width: 90%;
  background: #e45126;
}

.skills .content .col-right .bar .css:before {
  width: 80%;
  background: #0c73b8;
}

.skills .content .col-right .bar .javascript:before {
  width: 70%;
  background: #e3a324;
}

.skills .content .col-right .bar .Bootstrap:before {
  width: 90%;
  background: #30dd6d;
}

.skills .content .col-right .bar .React:before {
  width: 75%;
  background: #6d7eb8;
}

.skills {
  font-size: 1.3rem;
}

.work {
  background-color: #1F252E;
}

.work .content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

.work .content .card {
  width: 340px;
  margin: 15px;
}

.work .content .card .card-img {
  position: relative;
  width: 100%;
  height: 260px;
  overflow: hidden;
  border-radius: 10px;
}

.work .content .card .card-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.5s ease;
}

.work .content .card .card-img img:hover {
  transform: scale(1.2);
} */


.contact .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 20px;
  border: 2px solid aquamarine;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
}

.contact .content .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.contact .content .row .card {
  background: #fff;
  width: 240px;
  margin: 20px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
}

.contact .content .row .card .contact-icon {
  color: #3a6cf4;
  font-size: 4em;
  text-align: center;
  transition: transform 0.5s ease;
}

.contact .content .row .card:hover .contact-icon {
  transform: translateY(-10px);
}

.contact .content .row .card .info {
  text-align: center;
}

.contact .content .row .card .info h3 {
  color: #111;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}

.contact .content .row .card .info span {
  color: #666;
  font-weight: 500;
}

.contact-form {
  background: #f4f4f4;
  max-width: 600px;
  margin-top: 50px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
}

.contact-form h3 {
  color: #f9f9f9;
  font-size: 1.6em;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
  color: #fff9f9;
  width: 100%;
  padding: 10px;
  font-size: 1em;
  font-weight: 400;
  outline: none;
  border: 1px solid #111;
  border-radius: 5px;
  resize: none;
}

.contact-form .input-box .send-btn {
  color: #fff;
  background: #3a6cf4;
  display: inline-block;
  font-size: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  border: none;
  cursor: pointer;
  transition: 0.5s ease;
}

.contact-form .input-box .send-btn:hover {
  background: #235bf6;
}
 
.media{
  display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    letter-spacing: 36px;
}
.footer {
  background:#1F252E;;
  color: #fff;
  text-align: center;
  padding: 2em;
}

.footer .footer-title {
  font-size: 20px;
  font-weight: 600;
}

.footer p {
  font-size: 16px;
  margin-top: 10px;
}

.footer p a {
  color: #3a6cf4;
  font-weight: 600;
  text-decoration: none;
}

@media (max-width: 1040px) {
  header {
        height: auto;
        padding: 12px 20px;
  }

  header.sticky {
    padding: 10px 20px;
  }

  header .navigation {
    display: none;
  }

  header .navigation.active {
    z-index: 888;
    position: fixed;
    background: #fff;
    top: 0;
    right: 0;
    width: 380px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    transition: 0.3s ease;
  }

  header .navigation a {
    color: #000;
    font-size: 1.2em;
    margin: 10px;
    padding: 0 20px;
    border-radius: 20px;
  }

  header .navigation a:hover {
    background: #3a6cf4;
    color: #fff;
    transition: 0.3s ease;
  }

  .menu-btn {
    position: absolute;
    background: url(images/menu.png) no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    right: 0;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .menu-btn.active {
    z-index: 999;
    background: url(images/close.png) no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
    filter: invert(1);
  }

  section {
    padding: 80px 20px;
  }

  .main .content h2 {
    font-size: 1em;
  }

  .animated-text h3 {
    font-size: 2.2em;
  }

  .section-title {
    font-size: 1.8em;
  }

  .about .content {
    flex-direction: column;
  }

  .about .content .column {
    position: relative;
    width: 100%;
  }

  .about .content .col-right {
    margin-top: 40px;
  }

  .skills .content {
    flex-direction: column;
  }

  .skills .content .column {
    position: relative;
    width: 100%;
  }

  .skills .content .col-right {
    margin-top: 40px;
  }

  .contact-form {
    padding: 35px 40px;
  }
}

.scrollToTop-btn {
  z-index: 999;
  position: fixed;
  background: #3a6cf4;
  color: #fff;
  width: 45px;
  height: 45px;
  right: 0;
  bottom: 10px;
  font-size: 22px;
  text-align: center;
  line-height: 45px;
  border-radius: 3px;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s ease;
}

.scrollToTop-btn.active {
  right: 20px;
  opacity: 1;
  pointer-events: auto;
}

.reveal {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: all 1.5s ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.card_Tech {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
}



.card_Tech img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.card_Tech img:hover {
  transform: scale(1.1);
}


/* Mobile Devices */
@media only screen and (max-width: 600px) {
  header {
    padding: 12px 20px;
  }

  header.sticky {
    padding: 10px 20px;
  }

  header .navigation {
    display: none;
  }

  header .navigation.active {
    width: 100%;
    height: 100%;
  }

  header .navigation a {
    font-size: 1em;
    margin: 10px;
    padding: 0 20px;
    border-radius: 20px;
  }

  .menu-btn {
    margin: 0 10px;
  }

  section {
    padding: 60px 20px;
  }

  .main .content h2 {
    font-size: 1.5em;
  }

  .animated-text h3 {
    font-size: 1.5em;
  }

  .section-title {
    font-size: 1.5em;
  }

  .about .content {
    flex-direction: column;
  }

  .about .content .column {
    width: 100%;
  }

  .about .content .col-right {
    margin-top: 20px;
  }

  .skills .content {
    flex-direction: column;
  }

  .skills .content .column {
    width: 100%;
  }

  .skills .content .col-right {
    margin-top: 20px;
  }

  .contact-form {
    padding: 35px 20px;
  }
}

/* Tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  header {
    padding: 12px 40px;
  }

  header.sticky {
    padding: 10px 40px;
  }

  .menu-btn {
    margin: 0 20px;
  }

  section {
    padding: 80px 40px;
  }

  .main .content h2 {
    font-size: 1.8em;
  }

  .animated-text h3 {
    font-size: 2em;
  }

  .section-title {
    font-size: 2em;
  }

  .about .content {
    flex-direction: row;
  }

  .about .content .column {
    width: 45%;
  }

  .about .content .col-right {
    margin-top: 0;
    margin-right: 60px;
  }

  .skills .content {
    flex-direction: row;
  }

  .skills .content .column {
    width: 46%;
  }

  .skills .content .col-right {
    margin-top: 0;
  }

  .contact-form {
    padding: 50px 60px;
  }
}